@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {

} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  scroll-behavior: smooth;
}

.bg-dark-gray {
  background-color: #141514;
}

.feature-bg {
  background: rgba(97, 97, 97, 0.5);
}

.people-bg {
  background: rgba(46, 46, 46, 0.5);
}

.text-gradient {
  background: linear-gradient(90deg, rgba(239,239,239,1) 0%, rgba(200,200,200,1) 100%);
}